.error{
    background-color: #2b3b3b;
    color: white;
    height: auto;
    letter-spacing: 1px;
}

.error_box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}