@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sofia Sans', sans-serif;
}

:root {
    --nav-bg: #2E2A39;
    --backgroun-color: #F8F9F8;
    --active-tab-color: #5FABB7;
    --tab-font-color: #5fabb7;
    --active-tab-font-color: #f8f9f8;
}

::-webkit-scrollbar {
    display: none;
}