@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sofia+Sans&family=Ubuntu:wght@500&display=swap');
.theme-dark {
    --background: #2c3333;
    --card-color: #395b64;
    --btn-color: #a5c9ca;
    --font-color: #e7f6f2;
}

.theme-blue {
    --background: #3f3b6c;
    --card-color: #624f82;
    --btn-color: #9f73ab;
    --font-color: #a3c7d6;
}

:root {
    --background: #f5f5f5;
    --font-color: black;
    --brand-font-family: 'Sofia Sans', sans-serif;
    --brand-color: aliceblue;
    --brand-font-size: 25px;
    --nav-bg: #2D5F6E;
    --backgroun-color: #F8F9F8;
    --active-tab-color: #ffffff;
    --tab-font-color: #c4d6d8;
    --active-tab-font-color: #000000;
    --active-tab-border: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: var(--background) !important;
    color: var(--font-color) !important;
}


::-webkit-scrollbar {
    display: none;
}